target_node  = ""
hostname     = ""
ostemplate   = ""
password     = ""
unprivileged = true

cores  = 
memory = 

rootfs = ({
  storage = ""
  size    = ""
})

network = {
  bridge = ""
  ip     = ""
  gw     = ""
  name   = ""
}

ssh_public_key = ""
start = true